
.toolbar {
    width: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    box-shadow: 0 40px 10px grey;
}
/*.toolbar__btn {*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    background-size: cover;*/
/*    margin-left: 10px;*/
/*    margin-bottom: 600px;*/
/*    display: inline-block;*/
/*}*/
/*.toolbar .mouse {*/
/*    background: url('../assets/img/mouse.png') no-repeat center center;*/
/*}*/
.toolbar__btn button {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-left: 10px;
    margin-bottom: 20px;
    display: block; /* Заставляем кнопки выводиться друг под другом */
}
.toolbar__btn .mouse{
    background: url('../assets/img/mouse.png');
}
.toolbar__btn .shovel{
    background: url('../assets/img/shovel.png');
}
.toolbar__btn .brush{
    background: url('../assets/img/brush.png');
}
.toolbar__btn .house{
    background: url('../assets/img/house.png');
}
.toolbar__btn .text{
    background: url('../assets/img/text.png');
}
.toolbar__btn .contour{
    background: url('../assets/img/contour.png');
}
.toolbar__btn .vertex{
    background: url('../assets/img/vertex.png');
}