.topBar {
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
}
.topBar__btn {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-left: 10px;
}
.topBar .file {
    background: url('../assets/img/file.png') no-repeat center center;
}
.topBar .undo {
    background: url('../assets/img/undo.png') no-repeat center center;
}
.topBar .redo {
    background: url('../assets/img/redo.png') no-repeat center center;
}
.topBar .graph {
    background: url('../assets/img/graph.png') no-repeat center center;
}