* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.App {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-color: #3b3b3b;
    position: relative;
}