.toolbar {
    top: 50px;
    width: 50px;
    position: absolute;
    height: 800px;
}

.toolbar__btn button {
    height: 31px;
    width: 31px;
    border: 3px slategray solid;
    cursor: pointer;
    margin-left: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.toolbar__btn .mouse {
    background: url('../assets/img_buttons/mouse.png');
}

.toolbar__btn .landscape {
    background: url('../assets/img_buttons/landscape.png');
}

.toolbar__btn .brush {
    background: white url('../assets/img_buttons/brush.png');
}

.toolbar__btn .elements {
    background: url('../assets/img_buttons/elements.png');
}

.toolbar__btn .text {
    background: url('../assets/img_buttons/text.png');
}

.toolbar__btn .contour {
    background: url('../assets/img_buttons/contour.png');
}

.toolbar__btn .graph {
    background: url('../assets/img_buttons/graph.png');
}