.toolSettings{
    background-color: white;
    height: 800px;
    top: 50px;
    left: 1550px;
    margin-left: 40px;
    position: absolute;
    width: 300px;
    display: grid;
    justify-content: center;
    font-size: 22px;
}